OTRS_INSTALL=OTRS_INSTALL
OTRS_POSTMASTER_FETCH_TIME=OTRS_POSTMASTER_FETCH_TIME
OTRS_HOSTNAME=OTRS_HOSTNAME
OTRS_ADMIN_EMAIL=OTRS_ADMIN_EMAIL
OTRS_ORGANIZATION=OTRS_ADMIN_EMAIL
OTRS_ROOT_PASSWORD=OTRS_ROOT_PASSWORD
MYSQL_ROOT_PASSWORD=MYSQL_ROOT_PASSWORD
OTRS_DB_PASSWORD=OTRS_DB_PASSWORD
OTRS_AGENT_SKIN=OTRS_AGENT_SKIN
OTRS_DROP_DATABASE=OTRS_DROP_DATABASE
OTRS_TICKET_COUNTER=OTRS_TICKET_COUNTER
OTRS_NUMBER_GENERATOR=OTRS_NUMBER_GENERATOR
OTRS_LANGUAGE=OTRS_LANGUAGE
